---
layout: default
---

  <!-- Heading Row -->
  <div class="row jumbotron">
    <div class="col-md-8">
      <img class="img-responsive img-rounded" src="img/screenshot.png" alt="">
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
      <h1>HSLint</h1>
      <p>Lint HTML and template source files for hardcoded strings</p>
      <p class="github-links">
      <a data-ga-category="github links" data-ga-label="home" href="https://github.com/jwarby/hslint" class="btn btn-primary"><i class="fa fa-github"></i> View on GitHub</a>
      <a data-ga-category="github links" data-ga-label="fork" href="https://github.com/jwarby/hslint/fork" class="btn btn-success"><i class="fa fa-code-fork"></i> Fork me on GitHub!</a>
      </p>
    </div>
  <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Well -->
<!--      <div class="row"> -->
<!--        <div class="col-lg-12"> -->
<!--          <div class="well text-center"> -->
<!--          This is a well that is a great spot for a business tagline or phone number for easy access! -->
<!--          </div> -->
<!--        </div> -->
<!--         /.col-lg-12 -->
<!--      </div> -->
  <!-- /.row -->

  <!-- Content Row -->
  {% include installation.html %}
  {% include back_to_top.html %}
  <hr>
  {% include usage.html %}
  {% include back_to_top.html %}
  <hr>
  {% include reporters.html %}
  {% include back_to_top.html %}
  <hr>
  {% include options.html %}
  {% include back_to_top.html %}
  <hr>
  {% include examples.html %}
  {% include back_to_top.html %}
  <hr>
  {% include about.html %}
  {% include back_to_top.html %}
