<section id="examples">
  <div class="row text-center">
    <h1>Examples</h1>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>CLI</h2>

      <h4>Lint a single HTML file</h4>
      {% highlight bash %}
      $ hslint index.html
      {% endhighlight %}
      <h4>Lint a single EJS file</h4>
      {% highlight bash %}
$ hslint -t "<%,%>" index.ejs
$ hslint --template-delimiters "<%,%>" index.ejs
      {% endhighlight %}
      <h4>Lint multiple files</h4>
      {% highlight bash %}
$ hslint *.html
$ hslint somewhere/**/*.html
      {% endhighlight %}
      <h4>Check 'content', 'title' and 'alt' HTML attributes</h4>
      {% highlight bash %}
$ hslint -a "content,title,alt" *.html
$ hslint --attributes "content,title,alt" *.html
      {% endhighlight %}
      <h4>Ignore all 'script', 'style' and 'meta' tags</h4>
      {% highlight bash %}
$ hslint -i "script,style,meta" *.html
$ hslint --ignore-tags "script,style,meta" *.html
      {% endhighlight %}
    </div>

    <div class="col-lg-6">
      <h2>API</h2>

      <h4>Lint a single HTML file</h4>
      {% highlight javascript %}
      var errors = hslint('myfile.html');
      {% endhighlight %}
      <h4>Lint a single EJS file</h4>
      {% highlight javascript %}
var errors = hslint('myfile.ejs', {
  templateDelimiters: ['<%', '%>']
});
      {% endhighlight %}
      <h4>Lint multiple files</h4>
      {% highlight javascript %}
      var errors = hslint('somewhere/**/*.html');
      {% endhighlight %}
      <h4>Check 'content', 'title' and 'alt' HTML attributes</h4>
      {% highlight javascript %}
var errors = hslint('myfile.ejs', {
  attributes: ['content', 'title', 'alt']
});
      {% endhighlight %}
      <h4>Ignore all 'script', 'style' and 'meta' tags</h4>
      {% highlight javascript %}
var errors = hslint('myfile.ejs', {
  ignoreTags: ['script', 'style', 'meta']
});
      {% endhighlight %}
    </div>
  </div>
</section>
