<section id="installation">
  <div class="row text-center">
    <h1>Installation</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>CLI</h2>
      <div class="feature">
        <p>Installing i18n-lint globally via npm gives you the <code>i18n-lint</code> binary.</p>
        {% highlight bash %}
        $ npm install -g i18n-lint
        {% endhighlight %}
        {% highlight bash %}
        $ i18n-lint --help

Usage: i18n-lint [OPTIONS] <file ...>

Options:

  -h, --help
  -V, --version
  -a, --attributes <attributes>
  -i, --ignore-tags <tags>
  -t, --template-delimiters <delimiters>
  -r, --reporter <reporter>

{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>API</h2>
      <div class="feature">
        <p>i18n-lint can be used in other projects as a library.  After installing, simply require the module.</p>
        {% highlight bash %}
        $ npm install --save i18n-lint
        {% endhighlight %}
        {% highlight javascript %}
        var I18nLint = require('i18n-lint');

I18nLint('myfile.html', {
// ... options ...
});
{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>Grunt Plugin</h2>
      <div class="feature">
        <p>Integrate i18n-lint with <a href="http://gruntjs.com">grunt</a> and make it part of your build step using <a href="https://github.com/jwarby/grunt-i18nlint">grunt-i18nlint</a>.</p>
        {% highlight bash %}
        $ npm install --save-dev grunt-i18nlint
        {% endhighlight %}
        {% highlight javascript %}
        // Gruntfile.js
grunt.loadNpmTasks('grunt-i18nlint');

grunt.initConfig({
  // ... snip ...
  i18nlint: {
    // ... task config ...
  }
  // ... snip ...
});
{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-4 -->
  </div>
</section>
