<section id="installation">
  <div class="row text-center">
    <h1>Installation</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>CLI</h2>
      <div class="feature">
        <p>Installing i18n-lint globally via npm gives you the <code>i18n-lint</code> binary.</p>
        {% highlight bash %}
        $ npm install -g i18n-lint
        {% endhighlight %}
        {% highlight bash %}
        $ i18n-lint --help

Usage: i18n-lint [OPTIONS] <file ...>

  Options:

    -h, --help                              output usage information
    -V, --version                           output the version number
    -a, --attributes <attributes>           Comma-separated list of HTML attributes to lint (default: 'alt,title')
    -i, --ignore-tags <tags>                Comma-separated list of names of tags to ignore whilst linting (default: 'script,style')
    -t, --template-delimiters <delimiters>  Template delimiters used in source files.  For example, Mustache-like templating languages should use '{{,}}'
    -r, --reporter <reporter>               Specify which reporter to output results with
    --exclude <exclusion patterns>          Comma-separated list of glob patterns to ignore,  e.g. "/test_subdir/,ignored.html"
    --color                                 Force colored output
    --no-color                              Disable colored output

  Use `man i18n-lint` for more information


{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-12">
      <h2>API</h2>
      <div class="feature">
        <p>i18n-lint can be used in other projects as a library.  After installing, simply require the module.</p>
        {% highlight bash %}
        $ npm install --save i18n-lint
        {% endhighlight %}
        {% highlight javascript %}
        var i18nlint = require('i18n-lint');

// Lint a file
var errors = i18nlint('myfile.html', {
  // ... options ...
});

// Lint a string
var errors = i18nlint.scan('<div>Untranslated String!</div>', {
  // ...options...
{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-12">
      <h2>Grunt Plugin</h2>
      <div class="feature">
        <p>i18n-lint is also available as a <a href="http://gruntjs.com">grunt</a> plugin: <a href="https://github.com/jwarby/grunt-i18n-lint">grunt-i18nlint</a>.</p>
        {% highlight bash %}
        $ npm install --save-dev grunt-i18nlint
        {% endhighlight %}
        {% highlight javascript %}
        // Gruntfile.js
grunt.loadNpmTasks('grunt-i18nlint');

grunt.initConfig({
  // ... snip ...
  i18nlint: {
    // ... task config ...
  }
  // ... snip ...
});
{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-12 -->
  </div>
</section>
