<section id="installation">
  <div class="row text-center">
    <h1>Installation</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>CLI</h2>
      <div class="feature">
        <p>Installing HSLint globally via npm gives you the <code>hslint</code> binary.</p>
        {% highlight bash %}
        $ npm install -g hslint
        {% endhighlight %}
        {% highlight bash %}
        $ hslint --help

  Usage: hslint [OPTIONS] <file ...>

  Options:

    -h, --help                              output usage information
    -V, --version                           output the version number
    -a, --attributes <attributes>           Comma-separated list of HTML attributes to lint (default: 'alt,title')
    -i, --ignore-tags <tags>                Comma-separated list of names of tags to ignore whilst linting (default: 'script,style')
    -t, --template-delimiters <delimiters>  Template delimiters used in source files.  For example, Mustache-like templating languages should use '{{,}}'
    -r, --reporter <reporter>               Specify which reporter to output results with
    --exclude <exclusion patterns>          Comma-separated list of glob patterns to ignore,  e.g. "/test_subdir/,ignored.html"
    --color                                 Force colored output
    --no-color                              Disable colored output

  Use `man hslint` for more information


{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-12">
      <h2>API</h2>
      <div class="feature">
        <p>HSLint can be used in other projects as a library.  Install it and then just require it:</p>
        {% highlight bash %}
        $ npm install --save hslint
        {% endhighlight %}
        {% highlight javascript %}
        var hslint = require('hslint');

// Lint a file
var errors = hslint('myfile.html', {
  // ... options ...
});

// Lint a string
var errors = hslint.scan('<div>Untranslated String!</div>', {
  // ...options...
});
{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-12">
      <h2>Grunt Plugin</h2>
      <div class="feature">
        <p>HSLint is also available as a <a href="http://gruntjs.com">grunt</a> plugin: <a href="https://github.com/jwarby/grunt-hslint">grunt-hslint</a>.</p>
        {% highlight bash %}
        $ npm install --save-dev grunt-hslint
        {% endhighlight %}
        {% highlight javascript %}
        // Gruntfile.js
grunt.loadNpmTasks('grunt-hslint');

grunt.initConfig({
  // ... snip ...
  hslint: {
    // ... task config ...
  }
  // ... snip ...
});
{% endhighlight %}
      </div>
    </div>
    <!-- /.col-md-12 -->
  </div>
</section>
