<section id="reporters">
  <div class="row text-center">
    <h1>Reporters</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>i18n-lint uses JavaScript functions to handle the output/processing of the errors collected
      by i18n-lint.</p>

      <p>For example, here's a basic reporter which reports a count of hardcoded
      strings for each file which contained them:</p>
      {% highlight javascript %}
// ~/my_awesome_reporter.js
module.exports = {
  reporter: function(errors) {
    var len = errors.length,
      filename;

    if (len) {
      filename = errors[0].file;
      process.stdout.write(filename + '\n -- ' + len + ' hardcoded string(s)\n');
    }
  }
};
      {% endhighlight %}

      This would produce output similar to:
      {% highlight bash %}
$ i18n-lint --reporter ~/my_awesome_reporter.js *.html
index.html
 -- 3 hardcoded string(s)
partials/login.html
 -- 1 hardcoded string(s)
partials/profile.html
 -- 4 hardcoded string(s)
      {% endhighlight %}
      </pre>

      <h3>Built-in reporters</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Sample Output</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>default</td>
            <td class="highlight">
            <pre>
 <span class="gs">test/fixtures/1.html</span>
     2 |   &lt;h1&gt;<span class="err">Hardcoded h1</span>&lt;/h1&gt;
               <span class="kn">^ Hardcoded &lt;h1&gt; tag</span>
     3 |   &lt;a href="#" alt="<span class="err">hardcoded alt</span>"&gt;<%= translation %>&lt;/a&gt;
                            <span class="kn">^ Hardcoded alt attribute</span>
            </pre>
            </td>
          </tr>
          <tr>
            <td>unix</td>
            <td class="highlight">
            {% highlight bash %}
# file:line:column reason
test/fixtures/1.html:2:6 Hardcoded &lt;h1&gt; tag
test/fixtures/1.html:3:19 Hardcoded alt attribute
            {% endhighlight %}
            </td>
          </tr>
          <tr>
            <td>json</td>
            <td class="highlight">
            {% highlight json %}
[
  {
    "file": "test/fixtures/1.html",
    "error": {
      "id": "(error)",
      "code": "W001",
      "reason": "Hardcoded <h1> tag",
      "evidence": "/(Hardcoded h1)/",
      "line": 2,
      "character": 6,
      "scope": "  <h1>Hardcoded h1</h1>"
    }
  },
  {
    "file": "test/fixtures/1.html",
    "error": {
      "id": "(error)",
      "code": "W002",
      "reason": "Hardcoded 'alt' attribute",
      "evidence": "/(hardcoded alt)/",
      "line": 3,
      "character": 19,
      "scope": "  <a href=\"#\" alt=\"hardcoded alt\"><%= translation %></a>"
    }
  }
]
            {% endhighlight %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
