<section id="usage">
  <div class="row text-center">
    <h1>Usage</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2>CLI</h2>

      After installing, you should be able to type <code>i18n-lint</code> into a terminal.

      {% highlight bash %}
# Display version and exit
$ i18n-lint --version

# Lint myfile.html
$ i18n-lint myfile.html

# Lint all HTML files using a glob pattern
$ i18n-lint views/**/*.html

# Set options using --<option name> <optionValue>
$ i18n-lint --some-option "someValue" views/**/*.html
      {% endhighlight %}
    </div>

    <div class="col-lg-12">
      <h2>API</h2>

      After installing, you can <code>require</code> the <code>i18n-lint</code> lint module in your
      code.

      {% highlight javascript %}
// Require the module
var i18nlint = require('i18n-lint');

// Lint myfile.html
var errors = i18nlint('myfile.html');

// Lint all HTML files using a glob pattern
var errors = i18nlint('views/**/*.html');

// Set options using an object as the second parameter
var errors = i18nlint('views/**/*.html', { /*some options*/ });
      {% endhighlight %}
    </div>
  </div>
</section>
