<!-- Page Content -->
<div class="container">

	<h1>A simple twig example</h1>
	<div>
		<ul>
			{% for word in words %}
				<li>{{ word }} some text here</li>
			{% endfor %}
		</ul>
        <span>Another untranslated text</span>
	</div>
</div>
